body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header, footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #004d99;
    color: #fff;
}

aside {
    margin: 10px 0;
    padding: 10px;
    background-color: #eaeaea;
}

fieldset {
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #004d99;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="radio"] {
    width: 100%;
    padding: 10px 3px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="radio"] {
    width: auto;
}

input[type="submit"] {
    display: block;
    width: 60%; 
    padding: 12px 15px; 
    margin: 20px auto 20px; 
    background-color: #0056b3; 
    color: #fff;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1em;
    font-weight: bold; 
}

input[type="submit"]:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

span {
    color: red;
    font-size: 0.8em;
}

h3 {
    color: #004d99;
}

#badgeContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
